@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zoie's Game Review website.</h1>
    <p>Feel free to leave your own game reviews by clicking on the game review tab!</p>
</div>
